@import url('https://fonts.googleapis.com/css?family=Yantramanav');
@import url('https://fonts.googleapis.com/css?family=Philosopher');
@import url('http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
	
	/* Nav and Footer Styling */

  * {
  	box-sizing: border-box;
  }

  body {
  	font-family: 'Monserrat', sans-serif;
  	margin: 0;
  }

  .sitewrap{
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .title {
    color: #ffffff
  }

  .backdrop {
  	position: fixed;
  	display: none;
  	top: 0;
  	left: 0;
  	z-index: 10;
  	width: 100vw;
  	height: 100vh;
  	background: rgba(0, 0, 0, 0.5);
  }

  .main-header {
  	width: 100%;
  	position: fixed;
  	top: 0;
  	left: 0;
  	background: #2ddf5c;
  	padding: 12px 5px 12px 5px;
  	z-index: 1;
  	display: flex;
  	align-items: center;
  	justify-content: space-between;
  }

  .toggle-button {
  	width: 3rem;
  	background: transparent;
  	border: none;
  	cursor: pointer;
  	padding-top: 0;
  	padding-bottom: 0;
  	vertical-align: middle;
  }

  .toggle-button:focus {
  	outline: none;
  }

  .toggle-button__bar {
  	width: 100%;
  	height: 0.2rem;
  	background: black;
  	display: block;
  	margin: 0.6rem 0;
  }

  .main-nav {
  	display: none;
  }

  .main-nav__items {
  	padding: 0;
  	margin: 0;
  	list-style: none;
    display: flex;
  }

  .main-nav__item {
  	margin: 0 1rem;
  }

  .main-nav__item a, .mobile-nav__item a {
  	text-decoration: none;
  	color: #0e4f1f;
  	font-weight: bold;
  	padding: 0.1rem 0;
  }

  .main-nav__item a:hover, .main-nav__item a:active {
  	color: #FFFFFF;
  	border-bottom: 5px solid #FFFFFF;
  }

  .nav_button a, .mobile-nav_button a {
  	color: #FFFFFF;
  	background: #212121;
  	padding: 0.5rem 1rem;
  	border-radius: 8px;
  }

  .nav_button a:hover, .nav_button a:active, .mobile-nav_button a:hover, .mobile-nav_button a:active {
  	color: #212121;
  	background: rgb(5, 110, 151);
  	border-bottom: none;
  }

  .main-footer {
  	background: black;
  	padding: 2rem;
  }

  #landing-page-footer {
  	background: black;
  	padding: 2rem;
  	margin-top: 0;
  }

  .aside-nav {
    display: none;
  }

  #aside {
    background: #0e1a35;
  }

  .aside__items {
    padding: 0;
  	margin: 0;
  	list-style: none;
    display: flex;
    flex-direction: column;
  }

  .aside__item {
  	margin: 1rem 0;
  }

  .aside__item a, .mobile-nav__item a {
  	text-decoration: none;
  	/* color: #0e4f1f; */
  	font-weight: bold;
    /* padding: 0.1rem 0; */
    
    border-bottom: 1px solid #0d172e;
    border-top: 1px solid #0d172e;
    color: #ffffff;
    display: block;
    font-size: 17px;
    font-weight: 500;
    padding: 28px 20px;
    text-decoration: none;
  }

  .aside__item a:hover, .main-nav__item a:active {
  	color: #FFFFFF;
  	border-bottom: 5px solid #FFFFFF;
  }

  .badge {
    /* font-size: 0.8rem;
    color: #000000;
    background: #FFFFFF;
    border: 1.5px solid #000000;
    padding: 0.5rem;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none; */
    top: 0;
    right: 0;
    margin: 2rem;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    color: #000000;
    background: #FFFFFF;
    padding: 0.5rem;
}

  #job1 {
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
  	background: #0e1a35;
  	padding: 0.5rem 1rem;
    border-radius: 8px;
    margin: 10px;
  }

  #job2 {
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
  	background:#0e1a35;
  	padding: 0.5rem 1rem;
    border-radius: 8px;
    margin: 10px;
  }

  #job3 {
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
  	background: #0e1a35;
  	padding: 0.5rem 1rem;
    border-radius: 8px;
    margin: 10px;
  }
  .job a {
    text-decoration: none;
    color: inherit;
  }
  #git {
    margin-left: 10px;
  }

  .footer-links {
  	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  }

  .footer-link {
  	margin: 1rem 0;
  }

  .footer-link a {
  	color: #FFFFFF;
  	text-decoration: none;
  }

  .footer-link a:hover, .footer-link a:active {
  	color: #ccc;
  }

  /* Mobile Nav */
  img {
    width: 100px;
  }

  .mobile-nav {
  	display: none;
  	position: fixed;
  	z-index: 101;
  	top: 0;
  	left: 0;
  	background: rgb(25, 255, 121);
  	width: 80%;
  	height: 100vh;
  }

  .mobile-nav__items {
  	width: 90%;
  	min-height: 90vh;
  	list-style: none;
  	margin: 0;
  	padding: 0;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  }

  .mobile-nav__item {
  	margin: 1rem 0;
  }

  .mobile-nav__item a {
  	font-size: 1.5rem;
  }

  .button a, .approved, .button {
  	background: #2ddf5c;
  	color: #FFFFFF;
  	font: inherit;
  	border: 1.5px solid #2ddf5c;
  	padding: 0.5rem;
  	border-radius: 8px;
  	font-weight: bold;
  	cursor: pointer;
  	text-decoration: none;
  }
  .open {
  	display: block;
  }

  @media (min-width: 40rem) {
  	.toggle-button {
  		display: none;
  	}
  	.main-nav {
  		display: flex;
    }
    
  img {
    width: 100px;
  }
    
  .aside-nav {
    background-color: #ccc;
    width: 20%;
  	min-height: 100vh;
  	list-style: none;
  	margin: 0;
  	padding: 0;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  }

  .outline {
    display: flex;
  	flex-direction: row;
    align-items: center;
    margin: 0;
  }

  }

  @media (min-width: 40rem) {
  	.footer-link {
  		display: inline-block;
  		margin: 0 1rem;
  	}
  	.footer-links {
  		flex-direction: row;
  		align-items: left;
  	}
  }

  /* Nav and Footer ends */

  #landing-page-text {
  	background: linear-gradient(to top, rgba(80, 68, 18, 0.6) 10%, transparent), url("../images/bg-technician.jpg") center/cover no-repeat border-box, #ff1b68;
  	width: 100vw;
  	min-height: 87vh;
  	position: relative;
  }

  #admin-page {
  	background: linear-gradient(to top, rgba(80, 68, 18, 0.6) 10%, transparent), url("../images/background-board-equipment.jpg") center/cover no-repeat border-box, #ff1b68;
  	width: 100vw;
  	min-height: 87vh;
  	position: relative;
  }

  .section-title {
  	color: #2ddf5c;
  	text-align: center;
  }

  #landing-page-text h1, #admin-page h1 {
  	color: #FFFFFF;
  	font-family: 'Anton', sans-serif;
  	position: absolute;
  	bottom: 5%;
  	left: 3%;
		font-size: 1.6rem;
		font-family: 'Philosopher', sans-serif;
    font-weight: bold;
  }

  @media (min-width: 40rem) and (min-height: 40rem) {
  	#landing-page-text, #admin-page {
  		height: 100vh;
  		background-position: 50% 25%;
  	}
  	#landing-page-text h1, #admin-page h1 {
			font-size: 3rem;
			font-family: 'Philosopher', sans-serif;
    font-weight: bold;
  	}
  }


  /*Social Handles*/

#social {
  margin: 20px 10px;
  text-align: center;
}

.smGlobalBtn { /* global button class */
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border:2px solid #ddd; /* add border to the buttons */
    box-shadow: 0 3px 3px #999;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-weight: normal;
    line-height: 2em;
    border-radius: 27px;
    -moz-border-radius:27px;
    -webkit-border-radius:27px;
}

/* facebook button class*/
.facebookBtn{
    background: #4060A5;
}

.facebookBtn:before{ /* use :before to add the relevant icons */
    font-family: "FontAwesome";
    content: "\f09a"; /* add facebook icon */
}

.facebookBtn:hover{
    color: #4060A5;
    background: #fff;
    border-color: #4060A5; /* change the border color on mouse hover */
}

/* twitter button class*/
.twitterBtn{
    background: #00ABE3;
}

.twitterBtn:before{
      font-family: "FontAwesome";
      content: "\f099"; /* add twitter icon */
      
}

.twitterBtn:hover{
      color: #00ABE3;
      background: #fff;
      border-color: #00ABE3;
}

/* google plus button class*/
.googleplusBtn{
    background: #e64522;
}

.googleplusBtn:before{
      font-family: "FontAwesome";
      content: "\f0d5"; /* add googleplus icon */
}

.googleplusBtn:hover{
      color: #e64522;
      background: #fff;
      border-color: #e64522;
}

/* linkedin button class*/
.linkedinBtn{
    background: #0094BC;
}

.linkedinBtn:before{
      font-family: "FontAwesome";
      content: "\f0e1"; /* add linkedin icon */
}

.linkedinBtn:hover{
      color: #0094BC;
      background: #fff;
      border-color: #0094BC;
}

/* pinterest button class*/
.pinterestBtn{
    background: #cb2027;
}

.pinterestBtn:before{
      font-family: "FontAwesome";
      content: "\f0d2"; /* add pinterest icon */
}

.pinterestBtn:hover{
      color: #cb2027;
      background: #fff;
      border-color: #cb2027;
}

/* tumblr button class*/
.tumblrBtn{
    background: #3a5876;
}

.tumblrBtn:before{
      font-family: "FontAwesome";
      content: "\f173"; /* add tumblr icon */
}

.tumblrBtn:hover{
      color: #3a5876;
      background: #fff;
      border-color: #3a5876;
}

/* rss button class*/
.rssBtn{
    background: #e88845;
}

.rssBtn:before{
      font-family: "FontAwesome";
      content: "\f09e"; /* add rss icon */
}

.rssBtn:hover{
      color: #e88845;
      background: #fff;
      border-color: #e88845;
}

/* github button class*/
.githubBtn{
    background: #e88845;
}

.githubBtn:before{
      font-family: "FontAwesome";
      content: "\f09b"; /* add rss icon */
}

.githubBtn:hover{
      color: #45e868;
      background: #fff;
      border-color: #45e868;
}

/* Instagram button class*/
.igBtn{
  background: #e88845;
}

.igBtn:before{
    font-family: "FontAwesome";
    content: "\f16d"; /* add rss icon */
}

.igBtn:hover{
    color: #e84596;
    background: #fff;
    border-color: #e84596;
}

/* Phone button class*/
.phBtn{
  background: #4548e8;
}

.phBtn:before{
    font-family: "FontAwesome";
    content: "\f095"; /* add rss icon */
}

.phBtn:hover{
    color: #4548e8;
    background: #fff;
    border-color: #4548e8;
}

/* Email button class*/
.envBtn{
  background: #4548e8;
}

.envBtn:before{
    font-family: "FontAwesome";
    content: "\f0e0"; /* add rss icon */
}

.envBtn:hover{
    color: #4548e8;
    background: #fff;
    border-color: #4548e8;
}

/* Map button class*/
.mapBtn{
  background: #4548e8;
}

.mapBtn:before{
    font-family: "FontAwesome";
    content: "\f041"; /* add rss icon */
}

.mapBtn:hover{
    color: #4548e8;
    background: #fff;
    border-color: #4548e8;
}


